@import '../../components/text/text.scss';
@import '../../components/colors/colors.scss';

.ui-wrapper {

  &__header {
    margin: 0;
    padding: 30px / $ref-rem;
  }

  &__main {
    display: grid;
  }
}