//logo
include ../../components/colors/colors.pug
doctype html
block variables

html.ui-wrapper
	head
		meta(charset="utf-8")
		title
			block title
				='UI-kit'
	body(class='text ui-wrapper__body')
		header.ui-wrapper__header
			//logo
		main(class='ui-wrapper__main')
			block content
			+colors()(class='ui-wrapper__grid-item')