include ../../components/logo-sign/logo-sign.pug
include ../../components/logo-main/logo-main.pug
include ../../components/colors/colors.pug
include ../../components/fonts-example/fonts-example.pug
include ../../components/header/header.pug

doctype html
block variables

html.ui-wrapper
	head
		meta(charset="utf-8")
		title
			block title
				='UI-Kit'
	body(class='text ui-wrapper__body')
		.colors-and-type
			header.colors-and-type__header
				+logo-sign
			main(class='colors-and-type__main')
				+colors()(class='colors-and-type__grid-item')
				+fonts-example()(class='colors-and-type__grid-item')
		.headers-and-footers
			header.headers-and-footers__header
				+logo-sign
			main(class='headers-and-footers__main')
				+header()(class='headers-and-footers__main-item')
			
		