@import '../../components/text/text.scss';
@import '../../components/colors/colors.scss';
@import '../../components/fonts-example/fonts-example.scss';
@import '../../components/logo-main/logo-main.scss';
@import '../../components/header/header.scss';


.ui-wrapper {
  $paddingTop: 37px / $ref-rem;
  $paddingSide: 150px;

  .colors-and-type {
    height: 100%;


    &__header {
      margin: 0;
      padding: 30px / $ref-rem;
    }
  
    &__main {
      display: grid;
      column-gap: calc(100% - #{$paddingSide * 2 + 586px});
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      padding-left: percentage($paddingSide / $ref-width);
      padding-right: percentage($paddingSide / $ref-width);
      padding-top: $paddingTop;
      row-gap: 50px;
    }
  
    &__grid-item {
      margin: 0;
      padding-left: 0;
    }
  
    &__main-item {
      margin-bottom: 40px / $ref-rem;
    }
  }

  .headers-and-footers {
    background-color: $grey;
    margin-bottom: 42px / $ref-rem;
    height: 100%;

    &__main {
      display: grid;
      row-gap: 40px;
    }

    &__header {
      margin: 0;
      padding: 30px / $ref-rem;
      margin-bottom: 42px / $ref-rem;
    }
    
    &__main-item {
      margin-bottom: 40px / $ref-rem;
    }
  }
}