include ../../components/logo-sign/logo-sign.pug
include ../../components/logo-main/logo-main.pug
include ../../components/colors/colors.pug
include ../../components/fonts-example/fonts-example.pug
include ../../components/header/header.pug

doctype html
block variables

html.ui-wrapper
	head
		meta(charset="utf-8")
		title
			block title
				='UI-Kit'
	body(class='text ui-wrapper__body')
		header.ui-wrapper__header
			+logo-sign
		main(class='ui-wrapper__main')
			+colors()(class='ui-wrapper__grid-item')
			+fonts-example()(class='ui-wrapper__grid-item')

			
		