@mixin calc-air(
  $ref-air: $ref-air,
  $min-air: $min-air,
  $ref-width: $ref-width,
  $min-width: $min-width,
  $sides: ('left', 'right'),
  $type: 'padding'
  ) {
  $air-frac: ($ref-air - $min-air) / ($ref-width - $min-width);
  $air-comp: $min-width * $air-frac - $min-air;

  @each $side in $sides {
    #{$type}-#{$side}: calc(#{percentage($air-frac)} - #{$air-comp});
  }
}