// Font
$mainFont                : 'Montserrat-Regular', Arial;
$boldFontM               : 'Montserrat-Bold', Arial;
$boldFont                : 'Quicksand-Bold', Arial;
$regularFont             : 'Quicksand-Regular', Arial;

//Color & Type
$dark-shade-100          : rgba(31, 32, 65, 1);
$dark-shade-75           : rgba(31, 32, 65, 0.75);
$dark-shade-50           : rgba(31, 32, 65, 0.5);
$dark-shade-30           : rgba(31, 32, 65, 0.3);
$dark-shade-25           : rgba(31, 32, 65, 0.25);
$dark-shade-10           : rgba(31, 32, 65, 0.1);
$dark-shade-5            : rgba(31, 32, 65, 0.05);
$purple                  : #BC9CFF;
$green                   : #6FCF97;

$purple-color-100: rgba(188, 156, 255, 1);
$purple-color-50: rgba(188, 156, 255, 0.5);
$purple-color-25: rgba(188, 156, 255, 0.25);

// size of fonts
$mainFontColor           :$dark-shade-75; //#101010;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 24px;

$layoutWidth             : 1440px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$gray-color-100          : rgba(229, 229, 229, 1);
$white-color-100         : rgba(255, 255, 255, 1);
$white-color-50          : rgba(255, 255, 255, 0.5);
$green-color-100         : rgba(111, 207, 151, 1);
