.h1 {
  color: $dark-shade-100;
  font-family: $quickBoldFont;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}

.h2 {
  color: $dark-shade-100;
  font-family: $quickBoldFont;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}

.h3 {
  color: $dark-shade-100;
  font-family: $boldFontM;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  text-transform: uppercase;
}

.text {
  color: $dark-shade-75;
  font-family: $mainFont;
  font-size: $body-font-size;
  line-height: $body-line-height;
}