-var h1 = 'h1'
-var h2 = 'h2'
-var h3 = 'h3'
-var body = 'body'

mixin blockType(title, num, access)
  .blockType
    .blockType__title(class='blockType__title-' + num )= title
    .blockType__text
      .blockType__p
        if access == h1
          h1 This one is the sub-section or <br> widget title
        else if access == h2
          h2 Next one is the item title inside <br> widgets
        else if access == h3
          h3 This is a label or CTA text
        else if access == body
         .p This is the body text which is used for most <br> of the design, like paragraphs, lists, etc.

