@media only screen and (max-width: 493px) { 
    .blockType {
    
        flex-direction: column; 
        align-items: center;

        &__text { 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }

        &__title {
            margin: 0 0 20px 0;
        }
    }
}

.blockType {
    display: flex;
    flex-wrap: wrap;
    
    &__title {
        margin-right: 30px;
        color: $dark-shade-25;

        &-1 { 
            @include block-title (24px, 29px, 80px);
        }
        &-2 { 
            margin-left: 2px;
            @include block-title (19px, 23px, 76px);

        }
        &-3 { 
            margin-left: 12px;
            @include block-title (12px, 15px, 48px);
        }
        &-body { 
            margin-left: -9px;
        }
    }
}
