.types 
  .block-name
    .h1 H1
    .h2 H2
    .h3 H3
    .body Body
  .block-text
    .p
      h1 This one is the sub-section or <br>
        |   widget title
    .p
      h2 Next one is the item title inside<br> widgets
    .p
      h3 This is a label or CTA text
    .p
      | This is the body text which is used for most <br>of the design, like paragraphs, lists, etc.