.colors__plate {
  border-radius: 6px;
  height: 0px;
  padding: 50%;
}

.colors__plate_color_dark-shade-100 {
  background-color: $dark-shade-100;
}
.colors__plate_color_dark-shade-75 {
  background-color: $dark-shade-75;
}
.colors__plate_color_dark-shade-50 {
  background-color: $dark-shade-50;
}
.colors__plate_color_dark-shade-25 {
  background-color: $dark-shade-25;
}
.colors__plate_color_purple {
  background-color: $purple;
}
.colors__plate_color_green {
  background-color: $green;
}
