@import "utils/libs";
@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";
@import "utils/reset";

html {
  box-sizing: border-box;
}

body {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  min-width: $min-width;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
}

// Modules
@import '../pages/ui-kit/ui-kit.scss'




