include ../../menu-link/menu-link.pug
include ../../icon/icon.pug

mixin menu__item(item, state)
  li.menu__item(class=[item.current ? 'menu__item_current': '',
    item.selection ? 'menu__item_selection' : ''])

    if typeof item === 'string'
      +menu-link(item)(class='menu__link')
    else if item.selection
      span.menu__item-name
        +menu-link(item.name, item.href)(class='menu__link')
      +icon('expand_more')(class='menu__icon')
    else
      span.menu__submenu-header(class=item.child ? 'h3' : '')
        +menu-link(item.name, item.href)(class='menu__link')
      if item.child && item.child.length
        +menu(item.child, 'row', ++state)