@import '../../menu-link/menu-link.scss';
@import '../../icon/icon.scss';

.menu__item {
  padding-right: 30px / $ref-rem;
  font-family: $mainFont;
  color: $dark-shade-50;

  &_selection {
    margin-right: -12px / $ref-rem;
    display: flex;
  }

  &_current {
    color: $dark-shade-75;
    font-family: $boldFontM;
  }
}

.menu__icon {
  font-size: 24px / $ref-rem;
  line-height: 1.1;
}
