section.color-type
  
  .logo 
    include ../components/logoUI/logoUI.pug


  .colors
    .block
      .block__rect100
      .block__color
        .block__name Dark Shade 100%
        .block__id #1F2041
    .block
      .block__rect75 
      .block__color
        .block__name  Dark Shade 75%
        .block__id #1F2041
    .block
      .block__rect50
      .block__color
        .block__name Dark Shade 50%
        .block__id #1F2041
    .block
      .block__rect25
      .block__color
        .block__name  Dark Shade 25%
        .block__id #1F2041
    .block
      .block__rect5
      .block__color
        .block__name Dark Shade 5%
        .block__id #1F2041
    .block
      .block__rect-purple
      .block__color
        .block__name Purple
        .block__id #BC9CFF
    .block
      .block__rect-green
      .block__color
        .block__name Green
        .block__id #6FCF97

  