section.color-type
  
  .logo 
    include ../components/logoUI/logoUI.pug
    
  .colors
    .block
      .block__rect100
      .block__color
        .block__name Dark Shade 100%
        .block__id #1F2041
    .block
      .block__rect75 
      .block__color
        .block__name  Dark Shade 75%
        .block__id #1F2041
    .block
      .block__rect50
      .block__color
        .block__name Dark Shade 50%
        .block__id #1F2041
    .block
      .block__rect25
      .block__color
        .block__name  Dark Shade 25%
        .block__id #1F2041
    .block
      .block__rect5
      .block__color
        .block__name Dark Shade 5%
        .block__id #1F2041
    .block
      .block__rect-purple
      .block__color
        .block__name Purple
        .block__id #BC9CFF
    .block
      .block__rect-green
      .block__color
        .block__name Green
        .block__id #6FCF97

  .types 
    .block-name
      .h1 H1
      .h2 H2
      .h3 H3
      .body Body
    .block-text
      .p
        h1 This one is the sub-section or <br>
          |   widget title
      .p
        h2 Next one is the item title inside<br> widgets
      .p
        h3 This is a label or CTA text
      .p
        | This is the body text which is used for most <br>of the design, like paragraphs, lists, etc.


  
  //- .types
  //-   .block
  //-     .block__h1 H1
  //-     .block__text 
  //-       h1 This one is the sub-section or <br>
  //-         |   widget title
  //-   .block
  //-     .block__h2 H2
  //-     .block__text 
  //-       h2 Next one is the item title inside<br> widgets
  //-   .block
  //-     .block__h3 H3
  //-     .block__text 
  //-       h3 This is a label or CTA text
  //-   .block
  //-     .block__body Body
  //-     .block__text This is the body text which is used for most <br>of the design, like paragraphs, lists, etc.

  

   

  