div.logo
  div.logo__circle
    include ../../../../assets/img/logoUI/circle.svg
  div.logo__left-line
    include ../../../../assets/img/logoUI/left-line.svg
  div.logo__right-line
    include ../../../../assets/img/logoUI/right-line.svg