mixin icon(name, type='material')
  -
    const colorClass = color ? `icon_color_${color}` : '';
    const typeClass = `icon_type_${type}`;
  case type
    when 'material'
      i.icon(class=[colorClass, typeClass])&attributes(attributes)= name
