@font-face {
    font-family: "Quicksand-Bold";
    src: url('/assets/fonts/Quicksand/Quicksand-Bold.ttf');
}
// @font-face {
//     font-family: "Quicksand-Light";
//     src: url('/assets/fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
// }
// @font-face {
//     font-family: "Quicksand-Medium";
//     src: url('/assets/fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
// }
@font-face {
    font-family: "Quicksand-Regular";
    src:     url('/assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url('/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "Montserrat-Regular";
    src:     url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
