<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title UI-Kit
  body
    include ../components/UI-Kit/color_type/color_type.pug
    //include ../components/UI-Kit/form_elements/form_elements.pug
