%rect-template {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    margin-right: 40px;
    border-radius: 6px;
}

%color-name-template {
    font-size: 19px;
    line-height: 29px;
    color: $dark-shade-100;
}

.color-type {
    position: relative;
    width: 1440px;
    height: 900px;  
   
}

.logo {
    left: 30px;
    top: 30px;
}

.colors {
    position: absolute;
    margin-left: 150px;
    margin-top: 143px;
}

.block {
    display: flex;

    // styles for rect
    &__rect100 {
        @extend %rect-template;
        background-color: $dark-shade-100;
    }
    &__rect75 {
        @extend %rect-template;
        background-color: $dark-shade-75;
    }
    &__rect50 {
        @extend %rect-template;
        background-color: $dark-shade-50;
    }
    &__rect25 {
        @extend %rect-template;
        background-color: $dark-shade-25;
    }
    &__rect5 {
        @extend %rect-template;
        background-color: $dark-shade-5;
    }
    &__rect-purple {
        @extend %rect-template;
        background-color: $purple;
    }
    &__rect-green {
        @extend %rect-template;
        background-color: $green;
    }

    // styles for color names
    &__name {
        font-family: $boldFont;
        margin-top: 7px;
        margin-bottom: px;
        @extend %color-name-template;
    }

    &__id {
        font-family: $regularFont;
        @extend %color-name-template;
    }
}
