include ../logo-main/logo-main.pug
include ../menu/menu.pug
include __join/header__join.pug

mixin header(person)

	header.header
		+logo-main()(class='header__main')
		-
			person = person || {};
		
			let menu = [
				{name: 'Home', current: true},
				{name: 'About Us'},
				{name: 'Services', selection: true},
				{name: 'Careers'},
				{name: 'News'},
				{name: 'Documentation'}
			];

			let buttons = [
				{content: {text: 'Login'}, type: 'none'},
				{content: {text: 'Register'}, type: 'fill'}
			];
			let user = person.user;
		+menu(menu)(class='header__menu')
		+header__join(user, buttons)