include ../logo-main/logo-main.pug
include ../menu/menu.pug
include __join/header__join.pug

mixin header()

	header.header
		+logo-main()(class='header__main')

		-
			options = options || {};
			menu = options.menu || [
				{name: 'Home', current: true},
				{name: 'About Us'},
				{name: 'Services', selection: true},
				{name: 'Careers'},
				{name: 'News'},
				{name: 'Documentation'}
			];

			buttons = options.buttons || [
				{content: {text: 'Login'}, type: 'none'},
				{content: {text: 'Register'}, type: 'fill'}
			];
			user = options.user || null;
		+menu(menu)(class='header__menu')
		+header__join(user, buttons)