@import '../menu/menu.scss';
@import '../logo-main/logo-main.scss';
@import '__join/header__join.scss';

.header {
  @include calc-air($min-air: 10px);
  align-items: center;
  background-color: $default-color;
  box-shadow: 0px 10px 20px $dark-shade-5;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: end;
  padding-top: 15px / $ref-rem;
  padding-bottom: 15px / $ref-rem;
  
  &__button {
    margin-right: 18px / $ref-rem;
  
    &:last-child {
      margin-right: 0;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  @media (max-width: 1110px) {
    column-gap: 40px;
    grid-template-columns: auto 1fr;
    row-gap: 25px;
    justify-items: start;
  }

  @media (max-width: 431px) {
    display: flex;
    flex-wrap: wrap;
  }
}
