%rect-template {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    margin-right: 40px;
    border-radius: 6px;
}

%color-name-template {
    font-size: 19px;
    line-height: 29px;
    color: $dark-shade-100;
}

section.color-type {
    margin: 0 auto;
}

.color-type {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 1440px;
    height: 900px;  

    .colors {
        position: absolute;
        left: 150px;
        top: 143px;
    }

    .logo {
        left: 30px;
        top: 30px;
    }

    .types {
        display: flex;
        position: absolute;
        left: 856px;
        top: 150px;
    }

}

.colors .block {
    display: flex;

    // styles for rect
    &__rect100 {
        @extend %rect-template;
        background-color: $dark-shade-100;
    }
    &__rect75 {
        @extend %rect-template;
        background-color: $dark-shade-75;
    }
    &__rect50 {
        @extend %rect-template;
        background-color: $dark-shade-50;
    }
    &__rect25 {
        @extend %rect-template;
        background-color: $dark-shade-25;
    }
    &__rect5 {
        @extend %rect-template;
        background-color: $dark-shade-5;
    }
    &__rect-purple {
        @extend %rect-template;
        background-color: $purple;
    }
    &__rect-green {
        @extend %rect-template;
        background-color: $green;
    }

    // styles for color names
    &__name {
        font-family: $boldFont;
        margin-top: 7px;
        margin-bottom: px;
        @extend %color-name-template;
    }

    &__id {
        font-family: $regularFont;
        @extend %color-name-template;
    }
}

.types {

    .block-name {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 30px;

        .h1 {
            color: $dark-shade-25;
            @include block-name (24px, 29px, 80px);
        }
        .h2 {
            color: $dark-shade-25;
            @include block-name (19px, 23px, 74px);
        }
        .h3 {
            color: $dark-shade-25;
            @include block-name (12px, 15px, 50px);
        }
        .body {
            color: $dark-shade-25;
        }
    }

    .block-text {
        .p {
            margin-bottom: 49px;
        }
    }
}   