.logo {
    width: 48px;
    height: 48px;

    &__circle{
        position: relative;
    }
    &__left-line {
        position: absolute;
        top: 12px;
        left: 11px;
    }
    &__right-line {
        position: absolute;
        top: 8px;
        left: 25px;
    }
}